<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
</head>
<body>
<div th:switch="${cars}">
  <h2 th:case="null">No cars found!</h2>
  <div th:case="*">
    <h2>Cars</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Model of car</th>
        <th>Brand car</th>
        <th>Power</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model_of_car}"></td>
        <td th:text="${car.brand_car}"></td>
        <td th:text="${car.power}"></td>
        <td><a th:href="@{car-update/{id}(id=${car.id})}">Edit</a></td>
        <td><a th:href="@{car-delete/{id}(id=${car.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/car-create">car create</a></p>
</div>
</body>
</html>